@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Inter-Bold.woff2") format("woff2");
}

@theme {
  --color-primary: oklch(61.77% 0.18 258.57);
  --color-primary-dark: oklch(80% 0.000 0);
  --color-dark: oklch(14% 0.000 0);
  --color-dark-card: oklch(18% 0.000 0);
  --color-dark-elevated: oklch(22% 0.000 0);
  --color-dark-border: oklch(28% 0.000 0);
  --font-inter: "Inter", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-family: var(--font-inter);
}

html,
body,
#app {
  height: 100%;
}

html,
body {
  overflow: hidden;
}

html.dark {
  background-color: oklch(14% 0.000 0);
  color-scheme: dark;
}